body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    height: 300vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
header{
    background-color: lightgrey;
    padding: 5px 5%;
}

h1{
    margin-bottom: 25px;
}


.button{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 25px 25px;
    margin: 15px;
    cursor: pointer;
    border-radius: 4px;

}

.greeting{
    margin-top: 100px;
}

#userInput{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#greet{
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}